[package]
name = "lume_errors"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[lib]
test = false
doctest = false

[dependencies]
error_snippet = { workspace = true }
error_snippet_derive = { workspace = true }

[lints]
workspace = true
