[package]
name = "lume_driver"
version.workspace = true
edition = "2024"
rust-version.workspace = true

[dependencies]
arc = { path = "../arc" }
lume_errors = { path = "../lume_errors" }
lume_hir = { path = "../lume_hir" }
lume_hir_lower = { path = "../lume_hir_lower" }
lume_span = { path = "../lume_span" }
lume_typech = { path = "../lume_typech" }

error_snippet = { workspace = true }
error_snippet_derive = { workspace = true }

[lints]
workspace = true
