[package]
name = "lume_driver"
version.workspace = true
edition = "2024"
rust-version.workspace = true

[dependencies]
arc = { path = "../arc" }
lume_hir = { path = "../lume_hir" }
lume_span = { path = "../lume_span" }
lume_state = { path = "../lume_state" }
lume_typech = { path = "../lume_typech" }

error_snippet = { workspace = true }
error_snippet_derive = { workspace = true }
