[workspace]
members = ["compiler/lume_cli"]
resolver = "3"

[workspace.package]
version = "0.1.0"
rust-version = "1.86.0"

[workspace.dependencies]
error_snippet = { version = "=0.1.10", features = ["derive"] }
error_snippet_derive = { version = "=0.1.3" }
log = { version = "=0.4.27" }
tracing = { version = "=0.1.41" }

[workspace.lints.clippy]
pedantic = { level = "warn", priority = -1 }
must_use_candidate = "allow"
wildcard_imports = "allow"
