[workspace]
members = ["compiler/lume_cli"]
resolver = "3"

[workspace.package]
version = "0.1.0"
rust-version = "1.86.0"

[workspace.dependencies]
"ariadne" = { version = "=0.5.1", features = ["auto-color"] }
