[package]
name = "lume"
version = { workspace = true }
rust-version = { workspace = true }
edition = { workspace = true }

[workspace]
members = ["compiler/lume_cli"]
resolver = "3"

[workspace.package]
version = "0.1.0"
rust-version = "1.88.0"
edition = "2024"

[workspace.dependencies]
clap = { version = "=4.5.39", features = ["derive"] }
error_snippet = { version = "=0.1.16", features = ["derive"] }
error_snippet_derive = { version = "=0.1.7" }
owo-colors = { version = "=4.2.2" }
tracing = { version = "=0.1.41" }

[features]
tracing-tracy = ["lume_cli/tracing-tracy"]

[workspace.lints.clippy]
pedantic = { level = "warn", priority = -1 }
must_use_candidate = "allow"
wildcard_imports = "allow"
range_plus_one = "allow"

[dependencies]
lume_cli = { path = "compiler/lume_cli" }
lume_driver = { path = "compiler/lume_driver" }

[profile.profiling]
inherits = "release"
debug = true
