[package]
name = "lume_linker"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[dependencies]
lume_codegen = { path = "../lume_codegen" }
lume_errors = { path = "../lume_errors" }
lume_session = { path = "../lume_session" }

clap = { workspace = true, optional = true }
error_snippet = { workspace = true }

[features]
cli = ["dep:clap"]

[lints]
workspace = true
