[package]
name = "lume_cli"
version.workspace = true
edition = "2024"
rust-version.workspace = true

[[bin]]
name = "lume"
path = "src/main.rs"
test = false

[dependencies]
arc = { path = "../arc" }
lume_driver = { path = "../lume_driver" }
lume_errors = { path = "../lume_errors" }

clap = "=4.5.39"
env_logger = { version = "=0.11.8" }
error_snippet = { workspace = true }
error_snippet_derive = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { version = "=0.3.19", features = ["env-filter"] }

[lints]
workspace = true
