[package]
name = "lume_cli"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[lib]
test = false
doctest = false

[dependencies]
arc = { path = "../arc" }
lume_driver = { path = "../lume_driver" }
lume_errors = { path = "../../crates/lume_errors" }
lume_session = { path = "../lume_session", features = ["cli"] }
lume_trace = { path = "../../crates/lume_trace", features = ["init"] }

clap = { workspace = true }
error_snippet = { workspace = true }
error_snippet_derive = { workspace = true }
tracing = { workspace = true }

[features]
tracing-tracy = ["lume_trace/tracing-tracy"]

[lints]
workspace = true
