[package]
name = "lume_cli"
version.workspace = true
edition = "2024"
rust-version.workspace = true

[dependencies]
arc = { path = "../arc" }
lume_driver = { path = "../lume_driver" }

error_snippet = { workspace = true }
error_snippet_derive = { workspace = true }
getopts = "^0.2"
tracing = { workspace = true }
tracing-subscriber = { version = "=0.3.19", features = ["env-filter"] }

[lints]
workspace = true
