[package]
name = "lume_codegen"
version.workspace = true
edition = "2024"
rust-version.workspace = true

[dependencies]
lume_errors = { path = "../lume_errors" }
lume_mir = { path = "../lume_mir" }
lume_session = { path = "../lume_session" }
lume_span = { path = "../lume_span" }

error_snippet = { workspace = true }
error_snippet_derive = { workspace = true }
inkwell = { version = "=0.6.0", features = [
    "llvm18-1",
    "target-x86",
    "target-arm",
], optional = true }
tracing = { workspace = true }

[features]
llvm = ["dep:inkwell"]

[lints]
workspace = true
