[package]
name = "lume_typech"
version.workspace = true
edition = "2024"
rust-version.workspace = true

[dependencies]
lume_errors = { path = "../lume_errors" }
lume_hir = { path = "../lume_hir" }
lume_query = { path = "../lume_query" }
lume_session = { path = "../lume_session" }
lume_span = { path = "../lume_span" }
lume_types = { path = "../lume_types" }

error_snippet = { workspace = true }
error_snippet_derive = { workspace = true }
levenshtein = { version = "=1.0.5" }
log = { workspace = true }
indexmap = { version = "^2.9" }
tracing = { workspace = true }

[dev-dependencies]
arc = { path = "../arc" }
lume_errors_test = { path = "../lume_errors_test" }
lume_hir_lower = { path = "../lume_hir_lower" }
lume_parser = { path = "../lume_parser" }

insta = { version = "1.42.2", features = ["yaml"] }

[lints]
workspace = true
