name: Build and test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2

      - name: Build runtime
        run: cargo build --package lume_runtime --verbose

      - name: Build workspace
        run: cargo build --all-targets --verbose

      - name: Run tests
        run: cargo test --workspace --verbose
